html{
    /* color: white;
    background-color: black; */
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    color: red;
}

.beaches{
    list-style: none;
    position: relative;
    display: inline-block;
    width: 50%;
}

li {
    padding: 2px 0;
    height: 35px;
}

span{
    padding: 5px 8px;
    margin: 0;
}

.beach > span {
    border: 2px blue solid;
    display:inline-block;
    float: left;
    min-width: 50px;
    /* width: 15%; */
}

.icons {
    width: 100px;
    float: right;
}

.fa {
    display: inline-block;
    border: 2px red solid;
}

form{
    display: inline-block;
}

legend{
    padding: 20px 0 10px 0;
}

.submit{
    display: flex;
    margin: auto;
    margin-top: 25px;
    padding: 5px;
    border-radius: 2px;
}
